#main{
    background-image: url("../imgs/image.png");
    background-size: contain;
    min-height: 100vh;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#calc-container{
    display: flex;
    justify-content: center;
    min-height: 600px;

    
    
}

#calc-body{
    
   
    background-color: #616161;
    border-color: black;
    border-style: solid;
    border-bottom-width: 20px;
    border-right-width: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 20px;
  
}

#calc-head{
    display: flex;
    align-items: center;
    flex-flow: column;
}
#calc-battery{
    width: 60%;
    height: 20px;
    border-style: solid;
    border-color: black;
    background-color: #c4612f;
    margin: 10px;
    margin-top: 20px;
    border-radius: 5px;

}
#calc-output{
    width: 80%;
    height: 60px;
    padding: 10px;
    border-style: solid;
   
    background: rgb(207,204,204);
background: linear-gradient(62deg, rgba(207,204,204,1) 0%, rgba(133,130,130,1) 30%, rgba(207,204,204,1) 66%, rgba(133,130,130,1) 100%);

    border-color: black;
    margin: 10px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: end;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 1em;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-flow: column;

}

#outputIn{
    font-size: 1.9em;
}

#calc-keyboard{
    height: 300px;
    padding: 10px;
    grid-gap: 10px 10px;
    display: grid;
    grid-template-columns: repeat(5, 15fr);
    grid-template-rows: repeat(5, 15fr);
}

.calc-key{
    background-color: #949494;
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border-style: solid;
    border-bottom-width: 5px;
    border-right-width: 2.5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.calc-key:hover{
    background-color: grey;
    cursor: pointer;
    transform: scale(1.08);
}

/* Chalkboard instructionaire*/
#chalkBoard{
    background-color: black;
    border-style: solid;
    border-color: #6e2903;
    border-width: 20px;
    max-width: 500px;
    height: 400px;
    margin: 10px;
    
    box-shadow: 10px 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px;
   
}

#chalkBoard h1, #chalkBoard p{
    font-size: 1.5em;
    color: white;
    font-family: 'Fredericka the Great', cursive;
}

#addBtn{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
}